body {
  background-color: #fbfbfb;
  font-family: 'Montserrat';
  font-size: 16px;
}

p {
  margin-top: 2vh;
  font-size: 1.3em;
  font-family: 'Lato';
  font-weight: 400;
}

h2 {
  border-bottom: 10px solid #AD00AD;
  font-size: 2.3em;
  line-height: 1.5em;
  width: max-content;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
}


.title {
  margin: auto;
  margin-top: 7vh;
}

.jumbotron {
  background-image: url('../images/hacktalks_gradient-02.png');
  background-position: center;
  background-size: cover;
  vertical-align: center;
  margin-bottom: 0px;
  height: 60vh;
  margin-top: -1vw;
}

.landinglogo {
  display: inline-block;
  max-height: 15vw;
  vertical-align: middle;
  margin: 10vw 10vw 10vw 20vw;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}

#lila {
  font-family: 'Montserrat';
  color: #AD00AD;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  max-width: 60vw;
  padding: 10vh 0 10vh 0;
  margin: auto;
}

#ticketBox {
  background-color: #ad00ad;
  color: #fbfbfb;
  height: 100%;
  padding: 3vh 0 3vh 0;
  text-align: center;
}

.box {
  background-color: #232323;
  padding-bottom: 1vh;
}

.speak {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.speaker {
  padding: 2vh 5vw;
  max-width: 20vw;
}

#speakertitle {
  margin: auto;
  margin-top: 7vh;
  margin-bottom: 0;
  max-width: 80vw;
}

.speakerimg {
  width: 20vw;
  height: auto;
}

.description {
  font-family: 'Lato';
  font-size: 1.1rem;
  color: #a3a2a2;
  margin-top: -.9rem;
}

.speakertext {
  font-family: 'Lato';
  font-size: 1rem;
}

#thisyear {
  color: #fbfbfb;
  background-image: url('../images/hacktalks_talker.png');
  background-position: center;
  background-size: cover;
  height: 100%;
  /* margin-left: -1vw; */
}

/* #pract {
  margin-bottom: 10vh;
} */

#thisYearText {
  padding: 5vh 0 0 55vw;
  width: 35vw;
  font-size: 1rem;
}

.scheduleBox {
background-color: #ad00ad;
/* margin-left: -1vw; */
height: 100%;
padding: 4vh 0 4vh 0;
}

#help {
  width: 80vw;
  margin: auto;
}

#scheduleTitle {
  color: #fbfbfb;
  border-bottom: 10px solid #fbfbfb;
  font-size: 2.3em;
  line-height: 1.5em;
  width: max-content;
  font-weight: 600;
  font-family: 'Montserrat';
  margin: auto;
  margin-bottom: 3vh;

}

table {
  /* width: 80vw; */
  margin: auto;
  color: #fbfbfb;
  font-size: 1.5em;
  border-collapse: collapse;
}

tr {
padding: 8px;
line-height: 1.8;
border-bottom: 3px solid #fbfbfb;
}

tr > .tableTime {
  padding-right: 20vw;
  font-weight: 600;
  padding-left: 2vw;
}

tr > .tableProgram {
  font-family: 'Lato';
  font-weight: 300;
  padding-right: 2vw;
}

#lastTr {
  border-bottom: none;
}

#lastyear {
  color: #fbfbfb;
  padding: 3vh 0 3vh 3vw;
  max-width: 80vw;
  margin: auto;
  margin-bottom: 7vh;
}

#lastyear > .videoWrap > iframe {
margin-top: 3vh;
width: 80vw !important;
height: 540px !important;
margin-bottom: 10vh;
}

#centerlink {
text-align: center;
}

#lastyear > #centerlink > a {
  border: 2px solid #fbfbfb;
  padding: 1vh 4vw;
  text-decoration: none;
  color: #fbfbfb;
  text-align: center;
}

#newsletter {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 0;
}
.padding-sm-bottom {
  padding-bottom: 10px;
}
.button {
  background-color: #ad00ad;
  border: 4px solid #ad00ad;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
}

.button:hover {
  background-color: #232323;
  border: 4px solid #232323;
  cursor: pointer;
}

.button-inverted2 {
  background-color: #ad00ad;
  border: 4px solid #ad00ad;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
}

.button-inverted2:hover {
  color: white;
  background-color: #232323;
  border: 4px solid #232323;
}
.button-inverted {
  background-color: white;
  border: 4px solid white;
  color: #232323;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
}

.button-inverted:hover {
  color: white;
  background-color: #232323;
  border: 4px solid #232323;
}

#email {
    border: 4px solid #ad00ad;
    padding: 10px 60px;
}

#org {
  border-bottom: 10px solid #fbfbfb;
  line-height: 1.8em;
  width: max-content;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 4vh;
}

#organized {
  background-color: #232323;
  color: #fbfbfb;
  text-align: center;
  padding-top: 3vh;
  /* margin-left: -1vw; */
}


.org {
  width: 60vw;
  display: inline-block;

}
.picorg {
  width: 20vw;
  height: auto;
  padding: 20px;
  vertical-align: middle;
}

.partner {
  padding: 30px;
  padding-bottom: 70px;
}

.ft {
  display: flex;
  background-color: #ad00ad;
  color: #fbfbfb;
}

.ft > .more {
  padding: 2vh 0 2vh 10vw;
  font-size: 1rem;
  text-align: center;
  width: 20vw;
}

.ft > .more > a {
    font-family: 'Lato';
    text-decoration: none;
    color: #fbfbfb;
}

.ft > h4 {
  font-size: 1rem;
}

.ft > .more > a {
  font-size: 1rem;
  line-height: 1.9rem;
}

.ft > .more > p {
  font-size: 1rem;
}

/* MOBILE */


  @media(max-width: 1024px) {


    .jumbotron {
      height: 40vh;
    }

    .landinglogo {
      height: 40vh;
    }

    .lila {
      padding: 3vh 0 3vh 0;
      max-width: 90vw;
      font-size: 2rem;
    }

    .speak {
      display: block;
      /* margin: 0; */
    }

    .speakerimg {
      width: 80vw;
      /* height: auto; */
      /* margin:auto; */
    }

    .speaker {
      padding: 2vh 5vw;
      max-width: 80vw;
    }

    #speakertitle {
      max-width: 90vw;
    }

    #lastyear {
      /* padding: 1.5vh 0 1vh 0vh; */
      max-width: 65vw;
    }

    h2 {
      border-bottom: 10px solid #AD00AD;
      font-size: 2,5em;
      line-height: 1.5em;
      width: max-content;
    }

    p {
      margin-top: 0.6vh;
      font-size: 1.9rem;
      font-family: 'Lato';
    }

    #lastyear > .videoWrap > iframe {
    margin-top: 1vh;
    align-items: center;
    width: 100% !important;
    height: 360px !important;
    }

    #lastyear > #centerlink > a {
      border: 4px solid #fbfbfb;
      padding: 1vh 2vw;
      text-decoration: none;
      color: #fbfbfb;
      text-align: center;
      font-size: 1.5em;
    }

    #thisyear {
      color: #fbfbfb;
      background-image: url('../images/hacktalks_talker.png');
      background-position: center;
      background-size: cover;
      height: 80vh;
    }

    #thisYearText {
      padding: 5vh 0 0 50vw;
      width: 43vw;
    }

    .button {
        background-color: #ad00ad;
        border: 4px solid #ad00ad;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        display: block;
        margin: auto;
        font-size: 2em;
    }

    .button-inverted {
      background-color: white;
      border: 4px solid white;
      color: #232323;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      border-radius: 0;
      display: block;
      margin: auto;
      font-size: 2em;
    }
    .button-inverted2 {
      width: 100%;
      font-size: 2em;
    }

    .button-inverted a {
      text-decoration: none;
    }

    .formemail {
      margin-bottom: 2vh;
      font-size: 2em;
    }

    .org {
      width: 80vw;
    }

    .picorg {
      height: auto;
      width: 60vw;
      padding: 10px;
      display: block;
      margin: auto;
    }

    .ft {
      display: block;
    }

    .ft > .more {
    padding: 2vh 0 2vh 10vw;
    font-size: 1rem;
    text-align: center;
    width: 80vw;
    }

    .ft > .more > a {
        line-height: 5.2rem;
    }

  }

  @media screen and (orientation:landscape)
    and (max-width: 1024px) {
      #thisyear {
        color: #fbfbfb;
        background-image: url('../images/hacktalks_talker.png');
        background-position: center;
        background-size: cover;
        height: 100%;
        /* margin-left: -1vw; */
      }

      #lastyear {
        padding: 3vh 0 3vh 1vw;
      }

      .jumbotron {
        height: 60vh;
      }

      .landinglogo {
        max-height: 50vw;
      }

      #lila {
        font-size: 2rem;
      }
  }

/* Bootstrap COLUMNS */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.container,
.container-fluid {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
