/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 769px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .ticket-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .ticket-price { font-size: 220%; }
    .contact-form { width: 80%; }
    .main-nav li {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 980px) {
    .sale-label {
        top: -90px;
        right: 20px;
    }
}

/* Small phones to small tablets: from 495px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 49px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    
    h1 { font-size: 400%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .ticket-box {
        text-align: center;
    }

    .sale-label {
        top: -80px;
        right: 90px;
    }

    #sale-label-icon {
        height: 80px;
        width: 80px;
    }

    .sale-label-text {
        font-size: 90%;
        top: 25px;
    }

    .span-1-of-4 {
        width: 49.2%;
    }

    .speaker-modal-image {
        height: 300px;
    }

    .modal-info {
        text-align: center;
    }

    .abstract {
        width: 100%;
    }

    #workshop {
        text-align: center;
    }

    #workshop .span-1-of-4 {
        width: 100%;
    }

    .workshop-title {
        margin-bottom: 30px;
    }

    .workshop-abstract {
        font-size: 120%;
        margin-bottom: 30px;
    }
}



/* Small phones: from 0 to 495px */
@media only screen and (max-width: 495px) {
    section { padding: 25px 0; }
    .contact-form {width: 100%; }

    h1 { font-size: 300%; }

    .sale-label {
        top: -90px;
        right: 20px;
    }

    #sale-label-icon {
        height: 80px;
        width: 80px;
    }

    .sale-label-text {
        font-size: 90%;
        top: 25px;
    }

    .logo {
        height: 60px;
        width: auto;
        float: left;
        margin-top: 20px;
    }

    .main-nav {
        margin-top: 15px;
    }

    .main-nav li {
        margin-left: 0;
    }

    .hero-text-box .btn:link {
        text-transform: none;
        padding: 10px 20px;
    }

    #jasmine_title {
        font-size: 83%;
    }
}

@media only screen and (max-width: 375px) {
    .main-nav li a:link {
        padding: 6px 0;
    }

    .sale-label {
        top: -60px;
        right: 0px;
    }

    #sale-label-icon {
        height: 70px;
        width: 70px;
    }

    .sale-label-text {
        font-size: 14px;
        top: 22px;
    }

    #subscribe {
        width: 40%;
        padding: 10px 0;
    }

    .name {
        font-size: 90%;
    }

    .workshop-title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 40px;
    }

    .tagline {
        font-size: 20px;
    }

    .main-nav {
        margin-top: 10px;
    }

    .main-nav li a:link {
        padding: 6px 0;
        font-size: 80%;
    }

    .sale-label {
        top: -50px;
        right: -10px;
    }

    #sale-label-icon {
        height: 60px;
        width: 60px;
    }

    .sale-label-text {
        font-size: 12px;
        top: 20px;
    }

    #speakers-list {
        font-size: 80%;
    }

    .soon {
        font-size: 90%;
    }
}
